/build
/.idea/
.gitignore
gradlew
fradlew.bat
local*
settings.gradle
./Special Chat.iml
proguard-rules.pro
build/
.gradle/
*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
/app/src/test/
gardle.properties
*.db