<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="cc0x29a.specialchat">
    <!-- Internet assess permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

<!--    android:icon="@mipmap/ic_launcher"-->
<!--    android:roundIcon="@mipmap/ic_launcher_round"-->

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/logo"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".BackgroundTaskService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".SearchNewContact"
            android:label="Search new contact"
            android:theme="@style/generalNoTitle"
            android:launchMode="singleTask"/>
        <activity
            android:name=".WelcomeActivity"
            android:label="Welcome page"
            android:theme="@style/generalNoTitle" />
        <activity
            android:name=".SignUpActivity"
            android:label="Sign up"
            android:launchMode="singleTask" />
        <activity android:name=".ContactDetailActivity"
            android:label="Detail"
            android:theme="@style/generalNoTitle"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ChatActivity"
            android:label="Chat" />
        <activity
            android:name=".LoginActivity"
            android:label="Login in"
            android:launchMode="singleTask" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>